<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="HelloWorldBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="HelloWorldBinding" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="HelloWorldTcpBinding" />
      </netTcpBinding>
    </bindings>
    <services>
      <service name="TopshelfWCF.HelloWorldService" behaviorConfiguration="HelloWorldBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/HelloWorldService" />
            <add baseAddress="net.tcp://localhost:9090/HelloWorldService" />
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="TopshelfWCF.Contracts.Services.IHelloWorldService" bindingConfiguration="HelloWorldBinding" />
        <endpoint address="" binding="netTcpBinding" contract="TopshelfWCF.Contracts.Services.IHelloWorldService" bindingConfiguration="HelloWorldTcpBinding" />
      </service>
    </services>
  </system.serviceModel>
</configuration>